.register-modal {
  margin: 40px 40px;
  width: 460px;
  min-height: 265px;
  text-align: left;
  font-size: 14px;

  .register-modal-header {
    width: 100%;
  }

  .register-modal-title {
    font-weight: bold;
    width: 100%;
    font-size: 36px;
  }

  .register-modal-subtitle {
    color: #999;
    width: 100%;
    line-height: 1.6em;
    font-weight: 400;
    margin-bottom: 4px;
    margin-left: 0px;
  }

  .register-close-button {
    font-size: 18px !important;
    color: black !important;
    position: relative;
    bottom: 35px;
    left: 30px;
  }

  .register-modal-footer {
    display: block;
  }

  .register-text-link {
    font-weight: 700;
    color: #09f;
    text-decoration: none;
    cursor: pointer;
  }
}
