<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <div>Hi {{username}},</div>
  <p>You are just one step away from creating your 9GAG.com account! Please follow this link to confirm that this is your
  e-mail address.</p>
  <h4>Link:</h4>
  <p>{{redirect}}</p>
  <p>Have fun!</p>
  <p>Nigg4g Team</p>
</body>

</html>