<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div>Hi {{username}},</div>
    <p>We received a password reset request for your 9GAG.com account. To reset your password, use the URL below:</p>
    <h4>Reset your password:</h4>
    <p>{{redirect}}</p>
    <p>If you didn't request a password reset, you can ignore this message and your password will not be changed -- someone
    probably typed in your username or email address by accident.</p>
    <p>Nigg4g Team</p>
  </body>
</html>