a, blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, html, img, input, label, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0;
  outline: 0;
}

header {
  display: block;
}

.top-nav {
  will-change: transform;
  background-color: #000;
  width: 100%;
  z-index: 13;
  position: fixed;
}

.nav-wrap {
  box-sizing: content-box;
  max-width: 1196px;
  padding: 0 16px;
  margin: 0 auto;
  position: relative;
}

.top-nav a.my-logo {
  display: block;
  width: 72px;
  height: 48px;
  background: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/939cd3ee34f5072bdbccf0edadb0bded650614b1/static/dist/web6/img/sprite-logo.png') 50% no-repeat;
  background-size: 72px 48px;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  margin-left: -12px;
}

.top-nav a {
  text-decoration: none;
}

.nav-menu {
  margin-right: 256px;
}