#content-sidebar li {
  margin-bottom: 8px;
}

#content-sidebar .block-feature-cover a {
  display: block;
  color: #000;
}

#content-sidebar .block-feature-cover a:hover {
  color: #09f;
}

#content-sidebar .block-feature-cover .article-img {
  display: block;
  overflow: hidden;
  width: 300px;
  height: 105px;
  margin-bottom: 4px;
  background-color: #f4f4f4;
  border-radius: 2px;
  position: relative;
}

#content-sidebar .block-feature-cover .article-img img {
  display: block;
  border: 0;
  width: 100%;
  margin-top: -26px;
}

#content-sidebar .block-feature-cover .article-info h3 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  word-wrap: break-word;
}