.collasped-comment {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 10px 0 8px 58px;
  font-weight: 700;
  color: black;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
