#settings {
  position: relative;
  margin: 40px auto 0;
}

#settings .form-nav {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
}

ul.form-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
  line-height: 19px;
  font-weight: 700;
  font-size: 14px;
  padding: 10px;
  width: 240px;
  border-radius: 2px;
}

ul.form-nav li a.selected {
  background-color: #2d72d9;
  color: #fff;
  border-color: #08a;
}