.visitor-function {
  float: right;
  padding: 9px 0 9px 10px;
}

.visitor-function .my-btn-mute {
  display: inline-block;
  color: #bbb;
  line-height: 30px;
  height: 30px;
  padding: 0 12px;
  background-color: #000;
  border: none;
  cursor: pointer;
}

.visitor-function .my-btn-primary {
  color: #fff;
  display: inline-block;
  line-height: 30px;
  height: 30px;
  padding: 0 16px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  background-color: #09f;
  border: none;
  cursor: pointer;
}

.visitor-function .my-btn-primary:hover {
  background-color: #33adff;
}