.btn-social {
  width: 100%;
  position: relative;
  text-align: left;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 15px;
  white-space: nowrap;
  flex-grow: 2;

  &.btn-google-login {
    background-color: #df4a32;
    color: white;

    &:hover {
      background-color: darken(#df4a32, 15%);
    }
  }

  &.btn-facebook-login {
    background-color: #4267b2;
    color: white;

    &:hover {
      background-color: darken(#4267b2, 15%);
    }
  }

  .social-icon {
    vertical-align: middle;
    width: 40px;
    display: inline-block;

    i {
      font-size: 25px;
    }
  }

  .line {
    position: absolute;
    top: 0;
    left: 45px;
    height: 100%;
    width: 1px;
    background-color: darken(grey, 30%);
  }

  .btn-text {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 50px);
  }
}

.btn-social-packed {
  height: 34px;
  position: relative;
  text-align: left;
  font-size: 15px;
  white-space: nowrap;
  flex-grow: 2;
  border-radius: 2px;
  padding: 0;

  &.btn-facebook-share {
    background-color: #3b5998;
    color: white;

    &:hover {
      background-color: darken(#3b5998, 15%);
    }
  }

  &.btn-pinterest-share {
    background-color: #bd081c;
    color: white;

    &:hover {
      background-color: darken(#bd081c, 15%);
    }
  }

  .social-icon {
    width: 32px;
    display: inline-block;
    text-align: center;

    i {
      font-size: 20px;
    }
  }

  .btn-text {
    text-align: center;
    font-weight: 700;
    display: inline-block;
    line-height: 34px;
    padding: 0 15px 0 0;
    font-size: 14px;
  }
}