.report-modal {
  width: 560px;
  height: 680px;

  &.shorter {
    height: 430px;
  }

  .report-modal-body {
    .reason-explain {
      text-align: left;
      box-sizing: border-box;
      border: 1px solid #ccc;
      overflow: hidden;
      overflow-y: scroll;
      max-height: 416px;
      border-radius: 2px;
      padding: 16px;

      p {
        margin: 8px 0;
        line-height: 20px;
      }

      ul {
        padding-left: 24px;
      }
    }
  }
}
