#container {
  width: 1196px;
  padding: 48px 16px 32px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  clear: both;
  display: flex;
  justify-content: space-between;
}

.page {
  width: 640px;
}

.sidebar-right {
  width: 300px;
}

.sidebar-left {
  width: 192px;
}