.popular {
  padding-bottom: 12px;
}

.section-sidebar header h3 {
  line-height: 16px;
  height: 16px;
  margin-bottom: 8px;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}

.section-sidebar li {
  width: 100%;
}

.section-sidebar .label {
  width: 100%;
  color: #000;
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  padding: 8px 0 8px 36px;
  box-sizing: border-box;
  display: block;
  position: relative;
  border-radius: 2px;
}

.section-sidebar .test {
  position: absolute;
  width: 100%;
  color: #000;
  font-size: 14px;
  height: 36px;
  line-height: 20px;
  padding: 8px 0 8px 36px;
  box-sizing: border-box;
  display: block;
  padding-right: 32px;
  white-space: nowrap;
  overflow-x: visible;
}

.section-sidebar li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.section-sidebar li:hover .test {
  // background-color: rgba(0, 0, 0, 0.03);
  // padding-right: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-sidebar li:hover .my-button {
  opacity: 1;
}

.section-sidebar .icon {
  position: absolute;
  width: 24px;
  height: 24px;
  background-size: 264px 48px;
  background-image: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/4db5725e46cce313ef00c8298e0a1bf9bab27ddb/static/dist/web6/img/post-action-sprite.png');
  left: 2px;
  top: 50%;
  margin-top: -12px;
}

.section-sidebar .nav .div-button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.section-sidebar .nav .my-button {
  // position: absolute;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  width: 36px;
  height: 36px;
  display: block;
  right: 0;
  border: none;
  opacity: 0;
  transition: opacity 0.15s;
  cursor: pointer;
  outline: none;
}

.section-sidebar .icon.hot {
  background-position: -168px 0;
}

.section-sidebar .icon.trending {
  background-position: -192px 0;
}

.section-sidebar .icon.fresh {
  background-position: -216px 0;
}

// .section-sidebar .more {
// top: 50%;
// margin-top: -12px;
// width: 24px;
// height: 24px;
// background-size: 264px 48px;
// background-position: -216px 0;
// background-image: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/4db5725e46cce313ef00c8298e0a1bf9bab27ddb/static/dist/web6/img/post-action-sprite.png');
// }
.section-sidebar .more {
  background-position: -72px 0;
}

.section-sidebar .more:hover {
  background-position: -72px 0;
}

.section-sidebar .nav li.selected .div-button {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: 700;
}

.section-sidebar .star {
  background-position: -240px 0;
}

.section-sidebar .star:hover {
  background-position: -240px 0;
}

.icon-right {
  left: 160px;
}