.uploadurl-modal {
  width: 540px;
  min-height: 280px;

  .uploadurl-modal-header {
    padding: 32px;
    padding-bottom: 16px;
  }

  .uploadurl-modal-body {
    padding: 0px 32px;
    margin-top: 10px;
  }

  .uploadurl-modal-footer {
    padding-top: 10px;

    button {
      margin-left: 16px;
    }
  }
}