#error-page {
  height: 100vh;
  background-color: #000;
  color: #fff;
  z-index: -2;
}

.background-404 {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/9bc591a37cf168136ed8f19fe232fe5f324ae4ea/static/dist/web6/img/404/bg.gif') 50% no-repeat;
  background-size: cover;
  opacity: 0.5;
}

#error-page header {
  height: 48px;
}

.logo-9gag {
  display: block;
  width: 64px;
  height: 48px;
}

.message-404 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.message-404 h1 {
  font-size: 144px;
  font-weight: 100;
  margin-bottom: 16px;
}

.message-404 h2 {
  margin-bottom: 24px;
}

.message-404 h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 32px;
}

.message-404 .btn-download-app {
  display: inline-block;
  line-height: 20px;
  padding: 12px 24px 12px 48px;
  background: #09f url('https://assets-9gag-fun.9cache.com/s/fab0aa49/9bc591a37cf168136ed8f19fe232fe5f324ae4ea/static/dist/web6/img/404/download.svg') left -1px no-repeat;
  color: #fff;
  font-weight: 700;
  border-radius: 2px;
  border: none;
}

.message-404 .btn-download-app:hover {
  background-color: #3caffc;
}