.general-function {
  float: left;
  padding: 9px 0;
}

.general-function .darkmode-toggle {
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  text-indent: -999px;
  overflow: hidden;
  margin-right: 8px;
  background: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/939cd3ee34f5072bdbccf0edadb0bded650614b1/static/dist/web6/img/moon-sprite.png') 0 0 no-repeat;
  background-size: 30px 60px;
  border: none;
}

.general-function .darkmode-toggle:hover {
  background-position-y: -30px;
}

.general-function .search {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -999px;
  overflow: hidden;
  background: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/939cd3ee34f5072bdbccf0edadb0bded650614b1/static/dist/web6/img/sprite.png') 0 0 no-repeat;
  background-size: 510px 120px;
  float: left;
  border: none;
}

.general-function .search:hover {
  background: url('https://assets-9gag-fun.9cache.com/s/fab0aa49/939cd3ee34f5072bdbccf0edadb0bded650614b1/static/dist/web6/img/sprite.png') 0 -30px no-repeat;
  background-size: 510px 120px;
}
