.modals .slideIn-enter {
  background: rgba(0, 0, 0, 0);
}

.modals .slideIn-enter .modal-overlay .modal-content {
  transform: translate(0, -50%);
}

.modals .slideIn-enter-done {
  background: rgba(0, 0, 0, 0.5);
}

.modals .slideIn-enter-active {
  background: rgba(0, 0, 0, 0.5);
  transition: background 0.3s ease-out;
}

.modals .slideIn-enter-active .modal-overlay .modal-content {
  transform: translate(0, 0);
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.modals .slideIn-exit {
  background: rgba(0, 0, 0, 0.5);
}

.modals .slideIn-exit .modal-overlay .modal-content {
  transform: translate(0, 0);
}

.modals .slideIn-exit-active {
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease-out;
}

.modals .slideIn-exit-active .modal-overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.modals .slideIn-exit-active .modal-overlay .modal-content {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  transform: translate(0, -80%);
}

.k-modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.k-modal .modal-overlay {
  display: inline-block;
  margin-top: 70px;
}

.k-modal .modal-header .close-modal {
  color: #747683;
  cursor: pointer;
  font-size: 14px;
}

.k-modal .modal-header .close-modal:hover {
  color: #3f4047;
}

.k-modal .modal-header .modal-title {
  font-size: 1.9rem !important;
  font-weight: 550 !important;
}

.k-modal .modal-footer button {
  font-size: 1.4rem !important;
}

.k-modal .modal-body {
  color: #3f4047;
  font-size: 14px;
}

.confirm-modal,
.alert-modal {
  position: absolute;
  width: 600px;
  margin: auto;
  margin-top: 170px;
  background-color: #fff;
  border: 1px solid #808080;
  border-radius: 5px;
  left: 50%;
  margin-left: -320px;
}
.confirm-modal .modal-header,
.alert-modal .modal-header {
  padding: 27px 20px 7px 24px;
  border-bottom: 1px solid #808080;
  color: #686868;
  font-size: lg;
  font-weight: 550;
}
.confirm-modal .modal-body,
.alert-modal .modal-body {
  padding: 30px 30px 45px 26px;
  color: #4d4d4d;
  font-size: 1.5rem;
  border-bottom: 1px solid #808080;
}
.confirm-modal .modal-footer,
.alert-modal .modal-footer {
  padding: 25px 30px;
  display: flex;
  justify-content: flex-end;
}
.confirm-modal .modal-footer .modal-btn.confirm-btn,
.alert-modal .modal-footer .modal-btn.confirm-btn {
  background-color: #2364c2;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  padding: 15px 36px;
  border-radius: 3px;
}
.confirm-modal .modal-footer .modal-btn.cancel-btn,
.alert-modal .modal-footer .modal-btn.cancel-btn {
  background-color: #fff;
  border: 1px solid #808080;
  color: #686868;
  font-size: 1.7rem;
  text-align: center;
  padding: 15px 36px;
  border-radius: 3px;
}
