.loading-inline {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 10;
  top: 0;

  .overlay {
    position: relative;
    background-color: rgba(white, 0.6);
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;

    i {
      font-size: 20px;
      color: #212529;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
