.nav-menu .secondary li {
  display: block;
  float: left;
}

li {
  margin: 0;
  padding: 0;
  outline: 0;
}

.nav-menu .secondary a {
  text-decoration: none;
  display: block;
  color: #fff;
  position: relative;
  line-height: 48px;
  font-size: 14px;
  padding: 0 12px;
  text-align: center;
  box-sizing: border-box;
}