.input-base-label {
  font-weight: bold;
  font-size: 0.9rem;
}

.input-base-feedback {
  text-align: center;
  color: red;
}

.input-with-icon {
  position: relative;

  .input-icon {
    position: absolute;
    right: 10px;
    top: calc(50% - 10px);
  }
}