.reset-password-page {
  .logo-center {
    text-align: center;
    height: auto;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .reset-pw-form-title {
    margin-bottom: 10px;
  }

  .help-block {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373;
  }

  .col-center-block {
    float: none;
    display: block;
    margin: 0px auto;
  }

  .btn-container {
    margin-top: 30px;
  }
}