#content-sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

#content-sidebar .padding-top {
  height: 91%;
}

#content-sidebar .content {
  // padding-top: 24px;
  position: absolute;
  width: 100%;
}

#content-sidebar .block-feature-cover {
  margin-top: 20px;
}

#content-sidebar ul {
  list-style-type: none;
}
