#content-sidebar {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#content-sidebar .content {
  padding-top: 24px;
  position: absolute;
  width: 100%;
}

#content-sidebar .block-feature-cover {
  margin-top: 20px;
}

#content-sidebar ul {
  list-style-type: none;
}
