.popup-menu.user {
  margin-left: auto;
  left: auto;
  right: 10px;
  top: 48px;
  z-index: 13;
  min-width: 10px;
  width: 160px;
}

.popup-menu ul {
  list-style-type: none;
  overflow: hidden;
  padding: 4px 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.popup-menu {
  a {
    display: block;
    width: 100%;
    border: none;
    text-align: left;
    color: #000;
    line-height: 34px;
    padding: 0 16px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
      color: #000;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
      color: #000;
    }
  }
}