.login-modal {
  margin: 40px 40px;
  width: 460px;
  min-height: 420px;
  text-align: left;
  font-size: 14px;

  .login-modal-header {
    width: 100%;
  }

  .login-modal-title {
    font-weight: bold;
    width: 250px;
    font-size: 36px;
  }

  .login-modal-subtitle {
    color: #999;
    width: 250px;
    line-height: 1.6em;
    font-weight: 400;
    margin-bottom: 4px;
  }

  .login-close-button {
    font-size: 18px !important;
    color: black !important;
    position: relative;
    bottom: 35px;
    left: 30px;
  }

  .login-modal-input {
    margin: 10px 0px;
  }

  .login-modal-footer {
    vertical-align: middle;
    margin-top: 5px;
  }

  .login-modal-footer-link {
    color: #999;

    &:hover {
      text-decoration: none;
    }
  }
}
