.popup-menu.search {
  top: 48px;
  right: 10px;
  left: auto;
  margin-left: 0;
  z-index: 13;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.popup-menu {
  position: absolute;
  min-width: 160px;
}

.headbar-search {
  background-color: #fff;
  padding: 8px 12px;
  width: 200px;
}

.headbar-search input[type=text] {
  margin: 0;
  width: 100%;
  border: 0;
  border-radius: 0;
  height: auto;
  line-height: normal;
  padding: 0;
}