.upload-post-modal {
  margin: 20px 20px;
  width: 500px;
  min-height: 486px;

  .upload-header {
    border-bottom: 0px;
    padding-bottom: 0px;
  }

  .upload-modal-body {
    padding-bottom: 0;
    height: 376px;

    .spacer {
      .upload-image {
        height: 240px;
        border: 1px solid #ddd;
        border-radius: 2px;
        margin-bottom: 16px;

        .upload-icon {
          font-size: 70px;
          margin-top: 45px;
          margin-bottom: 25px;
          color: black;
        }

        .btn-bold-text {
          font-size: 14px;
          font-weight: bold;
        }

        .upload-image-text {
          font-size: 16px;
          margin-bottom: 20px;
        }

        &:hover {
          cursor: pointer;
          background-color: #eee;
        }
      }

      .other-source {
        display: flex;

        div, a {
          border: 1px solid #ddd;
          width: 156px;
          height: 120px;
          box-sizing: border-box;
          font-size: 14px;
          margin-right: 8px;
          text-align: center;
          color: black;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            text-decoration: none;
            background-color: #eee;
          }

          i {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 50px;
            color: black;
          }

          img {
            margin-top: 20px;
            margin-bottom: 10px;
            height: 50px;
          }
        }
      }
    }
  }
}

.upload-post-modal-longer {
  height: 510px;
}
