.upload-post-modal {
  margin: 20px 20px;
  width: 500px;
  height: 480px;

  .upload-modal-title {
    text-align: left;
    font-weight: bold;
    margin: 24px 0px;
  }

  .upload-modal-subtitle {
    font-weight: 200;
    font-size: 14px;
  }
}