.full-post {
  position: relative;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
    word-wrap: break-word;
    font-weight: bold;
  }

  .full-post-after-bar {
    position: relative;
    width: 640px;
    padding: 2px 0 10px 0;
    margin: 0;
    border: 0;
  }

  .full-post-container {
    width: 640px;
  }
}