body {
  font: 14px -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Arial, Helvetica, Geneva, sans-serif;
}

.space-navbar {
  padding-top: 48px;
}

.server-error {
  text-align: center;
  color: red;
}

.no-pd-t {
  padding-top: 0 !important;
}

.left {
  float: left !important;
}

.clearfix {
  clear: both;
}

.hide {
  display: none !important;
}

@keyframes spinner {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.spin {
  animation: spinner 1s linear forwards infinite;
}
