.post-header {
  margin-bottom: 8px;

  .post-section {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .post-section__category-icon {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      cursor: pointer;
    }

    .post-section__message {
      font-size: 12px;
      vertical-align: bottom;
      color: #999;

      span {
        cursor: pointer;

        &:hover {
          color: #555;
        }
      }
    }
  }

  .linked-title {
    word-wrap: break-word;
    color: black;
    font-size: 20px;
    cursor: pointer;

    &:hover {
      color: rgb(0, 145, 255);
    }
  }
}

.post-meta {
  font-size: 14px;
  color: #999;
  margin-bottom: 12px;

  .post-meta__text {
    color: #999;

    &:hover {
      color: #777;
    }
  }
}

.btn-vote {
  overflow: hidden;

  li {
    margin: 0 8px 0 0;
    float: left;
    list-style: none;
  }

  .btn-border {
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 44px;
    height: 34px;
    display: block;
    text-indent: -999px;
    position: relative;
    cursor: pointer;

    &:hover {
      border-color: #aaa;
    }
  }

  .up:after, .down:after, .comment:after, .more:after {
    position: absolute;
    content: ' ';
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
  }

  .up:after {
    background: url('https://localhost:6969/assets/sprite.png') -120px 0 no-repeat;
    background-size: 510px 120px;
  }

  .up.selected:after {
    background: url('https://localhost:6969/assets/sprite.png') -120px -90px no-repeat;
    background-size: 510px 120px;
  }

  .down.selected:after {
    background: url('https://localhost:6969/assets/sprite.png') -150px -90px no-repeat;
    background-size: 510px 120px;
  }

  .down:after {
    background: url('https://localhost:6969/assets/sprite.png') -150px 0 no-repeat;
    background-size: 510px 120px;
  }

  .comment:after {
    background: url('https://localhost:6969/assets/sprite.png') -180px 0 no-repeat;
    background-size: 510px 120px;
  }

  .more:after {
    background: url('https://localhost:6969/assets/sprite.png') -300px 0 no-repeat;
    background-size: 510px 120px;
  }
}

.popup-viewshare {
  left: 222px;
  top: 24px;
  position: absolute;
  margin-left: -60px;
  z-index: 15;
  min-width: 160px;

  ul {
    list-style-type: none;
    overflow: hidden;
    padding: 4px 0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    li {
      display: block;
      color: black;
      line-height: 34px;
      padding: 0 16px;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.btn-next {
  overflow: hidden;
  position: relative;
  padding-right: 12px;
  cursor: pointer;

  .btn-next-body {
    display: block;
    background-color: #ff3c1f;
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 0 8px 0 12px;
    height: 34px;
    line-height: 34px;
    border-radius: 3px 0px 0px 3px;
  }

  .btn-next-arrow {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 17px dashed transparent;
    border-bottom: 17px dashed transparent;
    border-left: 12px solid #ff3c1f;
  }

  &:hover {
    .btn-next-body {
      background-color: lighten(#ff3c1f, 30%);
    }

    .btn-next-arrow {
      border-left-color: lighten(#ff3c1f, 30%);
    }
  }
}
