.post {
  header {
    margin-bottom: 8px;

    .post-section {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .post-section__category-icon {
        width: 20px;
        height: 20px;
        margin-right: 8px;
      }

      .post-section__message {
        font-size: 12px;
        vertical-align: bottom;
        color: #999;
      }
    }

    h1 {
      word-wrap: break-word;
      color: black;
      font-size: 20px;
    }
  }

  .post-containter {
    margin-bottom: 8px;
    width: 500px;
    position: relative;

    picture {
      img {
        width: 500px;
        display: block;
        border: none;
      }
    }
  }

  .post-meta {
    font-size: 14px;
    color: #999;
    margin-bottom: 12px;

    .post-meta__text {
      color: #999;

      &:hover {
        color: #888;
      }
    }
  }
}