.post {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 24px 0;
  box-sizing: border-box;

  .post-containter {
    margin-bottom: 8px;
    width: 500px;
    position: relative;

    picture {
      img {
        width: 500px;
        display: block;
        border: none;
      }
    }
  }

  .post-after-bar {
    position: relative;
    width: 500px;
  }

  .share {
    overflow: hidden;
    list-style-type: none;

    li {
      float: left;
      margin: 0 0 0 8px;
    }
  }
}
