.more-dropdown {
  left: auto;
  width: 144px;
  min-width: auto;
  right: 4px;
  margin-top: -4px;
  position: absolute;
  margin-left: -60px;
  z-index: 13;
}

.more-dropdown ul {
  list-style-type: none;
  overflow: hidden;
  padding: 4px 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.more-dropdown a {
  padding-left: 32px;
  position: relative;
  display: block;
  color: #000;
  line-height: 34px;
  padding-right: 16px;
  font-size: 14px;
}

.more-dropdown a:active {
  background-color: rgba(0, 0, 0, 0.05);
}